/* Reset do CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
}

html {
  min-height: 100%;
	font-size: 16px;
  overflow: hidden;
}

*,
button,
input {
  border: 0;
  background: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card {
  position: relative;
  width: 25rem;
  margin: 2rem;
  padding: 3rem;
  border-radius: 11px;
  background-color: #f5f5f5;
  box-shadow:  23px 23px 47px #c9c9c9, -23px -23px 47px #ffffff;
  cursor: pointer;
}

.card__wrapper {
  padding-left: 1rem;
  border-left: 5px solid black;
}

.card__title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.card__subtitle {
  font-size: 1rem;
}

.card__text {
  font-size: 1.15rem;
  line-height: 1.5;
  display: block;
  /* text-indent: 2rem; */
  margin-top: 2rem;
}

footer {
  height: 10vh;
  text-align: center;
}

.footer-text {
  font-size: 1.5rem;
}

@media (max-width: 530px) {
  .card__text {
    font-size: 1rem;
  }
}

.animate-left {
  opacity: 0;
  transform: translateX(-100px);
  animation: animateLeft 600ms ease-in-out forwards;
}

.animate-text {
  opacity: 0;
  transform: translateY(-25px);
  animation: animateLeft 800ms forwards;
  animation-delay: 1200ms;
}

.animate-title {
  opacity: 0;
  transform: translateX(-25px);
  animation: animateLeft 800ms forwards;
  animation-delay: 700ms;
}

@keyframes animateLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

@keyframes animateText {
  to {
    opacity: initial;
  }
}

@keyframes animateTitle {
  to {
    transform: initial;
    opacity: initial;
  }

}